<!DOCTYPE html>
<th:block th:replace="fragments::thymeleaf&thema"/>

<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments::style}"/>
    <th:block th:replace="~{fragments::title('movies')}"/>
</head>

<body>

    <header>
        <th:block th:replace="~{fragments::navBar}"/>

    </header>

    <main>

         <th:block th:replace="~{fragments :: content(items=${movies}, location=${'movies'}, titleList=${'All films'})} ">
        </th:block>
        <!-- <div class="container align-items-center d-flex justify-content-center flex-column  my-5">

            <h1 th:text="|All movies|"> </h1>
            <ul>    
                <li
                    class="my-2" 
                    th:each="movie : ${movies}"
                >
                    <a
                        th:text="${movie.title}"
                        th:href="@{movies/{movieId}(movieId=${movie.id})}"
                    />
                   
                </li>
              
        
            </ul>

        </div> -->

    </main>

</body>

</html>