<!DOCTYPE html>
<th:block th:replace="fragments::thymeleaf&thema"/>

<head>
    <meta charset="UTF-8">
    <th:block th:replace="~{fragments::style}"/>
    <th:block th:replace="~{fragments::title(${song.title})}"/>
</head>

<body>

    <header>

        <th:block th:replace="~{fragments::navBar}"/>

    </header>

    <main>

        
            <div th:if="${song}">
                <h1 th:text="${song.title}">Titolo Canzone</h1>
            </div>
        
            <div th:if="${errorMessage}">
                <h1 th:text="${errorMessage}">Errore!</h1>
            </div>

    </main>
  
</body>

</html>